.text-center{
    text-align: center;
  }
  
  .bg-color{
    background: #00c3ff;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  }
  .flex-col{

    flex-direction: column;
    /* flex-direction:unset; */
  }
  
  .item-center{
    align-items: center;
  }